footer {
  color: var(--header-font-color);
  background-color: var(--header-bg-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  padding: 4em 2em;
  margin-top: 2em;
}

footer > div {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  height: 15rem;
}

.footer-chingu {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-chingu > div {
  display: flex;
  gap: 0.5em;
}

.footer-chingu img {
  width: 150px;
}

.footer-contact > div {
  display: flex;
  gap: 0.5em;
}

.footer-contact p {
  margin: 0;
}

@media (min-width: 650px) {
  footer {
    padding: 0em 4em;
  }

  footer > div {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30%;
  }
}
