.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.interaction-menu {
  display: flex;
  flex-direction: row;
  width: 70vh;
  margin-left: 26rem;
  padding-bottom: 30px;
  justify-content: space-evenly;
}

.interaction-menu button {
  margin: 0 5px;
}
