.right-section {
    width: 100vw;
    flex-grow: 1;
}

.select-image {
    text-align: center;
    font-size: 1.3em;
}

.select-image a {
    font-style: italic;
    font-size: 0.8em;
}

.all-images img {
    height: 25vh;
}


.all-images img:hover {
    opacity: 0.5;
}

.profile-body h2 {
    text-align: center;
    font-size: 2em;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 10px

}

.profile-image {
    display: block;
    margin: auto;
    width: 60vw;
}

.profile-image img{
    height: auto;
    width: 100%;
}

.profile-image button {
    display: block;
    margin: auto;
    font-size: large;
    font-weight: 600;
}

.username {
    font-size: 30px;
    margin-bottom: 0;
}

.info {
    font-size: 1em;
    padding-left: 4vw;
}

.info button img {
    width: 1em;
    height: 1em;
}

.info p button {
    padding: 0 5px;
    margin-left: 5px;
}

.info input {
    display: block;
    width: 100%;
    font-size: 1em;
}

.user-info span{
    margin-right: 3px;
}

.right-section hr{
    border-top: 3px dashed #ebdebe;
    width: 75%;
}

.points-info {
    margin: 20px;
    display: flex;
    justify-content: space-between,
}

.points-info div {
    width: 40%;
    font-size: 0.8em;
}

.points-info img {
    width: 4em;
    height: 4em
}

.achievement-section {
    margin: 20px;
}

.tracking {
    height: 15vh;
    display: flex;
    position: relative
}

.tracking img {
    height: 100%;
    width: auto;
    margin-right: 5px;
}

.tracking > .progress-bar-container {
    width: 100%;
    margin-top: 3.5vh;
}

.tracking p {
    word-wrap: normal;
    font-style: italic;
    font-size: 0.7em;
    width: 70%;
    position: absolute;
    left: 100px;
    top: 40px;
}

.achievement-section h3{
    color: #933a05;
}

@media (min-width: 850px) {
    .profile {
        flex-direction: row;
        width: 100vw;
        gap: 20px
    }

    .profile-image {
        height: 70vh;
        width: 30vw;
        margin: 0;
    }

    .right-section {
        width: 40vw;
    }

    .points-info div {
        width: 40%;
        font-size: 1em;
    }

    .all-images img {
        height: 30vh;
    }

    .right-section hr{
        margin-right: 20%;
    }

    .info input {
        width: 60%;
    }    

    .points-info {
        margin: 20px 40px;
    }

    .achievement-section {
        margin: 30px;
    }

    .tracking > .progress-bar-container {
        width: 50%;
    }

    .tracking p {
        word-wrap: normal;
        font-size: 1em;
        left: 140px;

    }
    
}