.quiz-container {
  max-width: 100%; /* Full width on mobile */
  margin: 1em;
  padding: 1em;
  background-color: var(--quiz-bg-color); /* variable defined in index.css */
  border-radius: 0.5em;
  box-shadow: 0 2px 10px var(--shadow-color);
}

h2,
h3 {
  color: #333;
}

.quiz-container .progress {
  margin-bottom: 1em;
}

.progress-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 1em;
  height: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--header-font-color);
  width: 0; /* This will be updated dynamically in JSX code */
  transition: width 0.3s ease-in-out;
}

.quiz-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  font-weight: bold;
  cursor: pointer;
}

.quiz-container .option-btn {
  display: block;
  margin: 0.5em 0;
  background-color: #f1f1f1;
  color: #333;
  font-weight: normal;
  border: 1px solid #ccc;
}
.quiz-container .option-btn:hover {
  border-color: #333;
}

.quiz-container .option-btn.selected {
  border: solid 1.5px #333;
}

.quiz-container .option-btn.correct {
  background-color: #4caf50;
  color: white;
}

.quiz-container .option-btn.wrong {
  background-color: #f44336;
  color: white;
}

.quiz-container .answer-section {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc; /* Separator line */
}

.quiz-container .results {
  text-align: center;
}

@media (min-width: 800px) {
  .quiz-container {
    max-width: 700px; /* Limit width for larger screens */
    margin: 2em auto;
  }
}
