.information, .hunt-interface {
    max-width: 100%;
}


.display-section {
   position: relative
}

.hunt-locations {
    position: absolute
}

.hunt-locations + div {
    width: 70vw
}

@media (min-width: 800px) {
    .information, .hunt-interface {
      max-width: 700px; /* Limit width for larger screens */
      margin: 2em auto;
    }
  }
  